<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>My Flash Cards</h1>
    <h2>Add A Flashcard:</h2>

    <form action="/flashCard/createFlashCard" method="POST">
      <input type="text" placeholder="Front" name="frontCard" />
      <input type="text" placeholder="Back" name="backCard" />
      <input type="submit" />
    </form>

    <ul class="allCards">
      <% items.forEach( el => { %>
      <li class="card-box card" data-id="<%=el._id%>">
        <p><%= el.frontCard %></p>
        <p class="backSide"><%= el.backCard %></p>
        <button class="answerBtn">Show Answer</button>
        <span class="fa fa-trash"></span>
        <span class="timesReviewed"><%= el.reviewed %></span>
      </li>
      <% }) %>
    </ul>
    <script src="js/main.js"></script>
  </body>
</html>
